table {
  margin: 0 350px;
    position: relative;
}
.table1 {
  background: grey;
  border: 2px solid black;
  font-size: 50px;
  width: 100px;
  height: 100px;
  text-align: center;

}
.two {
  background: white;
  height: 100px;
}
.four {
  background: #C0C0C0;
  height: 100px;
}
.transparent {
  align-self: center;
  background: white;
  /*display: none;*/
  font-size: 80px;
  margin-top: -400px;
  height: 500px;
  opacity: 0.3;
  position: absolute;
  text-align: center;
  width: 100%;
}
.transparent .btn {
  color: red;
  font-weight: bolder;
}
.span {
  margin: 10px;
}
h3 {
  font-size: 60px;
  margin: 15px;
}
.label {
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
